@import "tailwindcss";

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.loader {
  width: 40px;
  --b: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #000) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
